@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*--------------------------------------------------------------
# General      
--------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #351f39;
  font-family: 'Poppins', helvetica;
  font-size: 16pt;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: #010114;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #f37121;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
  font-weight: 400;
}

a:hover {
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #0b032d;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.section-button {
  border: solid #c70039 0.2rem;
  color: #002d5b;
  font-size: 1rem;
  height: 50px;
  padding: 0 10px;
  border-radius: 25px;
  margin: 2rem 1rem 0 0;
  font-weight: 800;
}
.section-button a {
  color: #002d5b;
}
.section-button a:hover {
  color: #c70039;
}
button:hover {
  color: #c70039;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #002d5b;
}
.paddsection {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.paddsections {
  padding-top: 9rem;
  padding-bottom: 9rem !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

.main-content {
  padding-top: 140px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 1rem;
  bottom: 0.8rem;
  z-index: 996;
  background: #f37121;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #c70039;
  color: #c70039;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-color: #fff;
  top: -100%;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}
#header.header-scrolled,
#header.header-inner-pages {
  top: 0;
}
@media (max-width: 992px) {
  #header {
    border: 0;
  }
}
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  color: #f37121;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #c70039;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #f37121;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 45, 91, 0.1);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #f37121;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #c70039;
}

.navbar-mobile .getstarted {
  margin: 15px;
}
/*navbarbar media query*/
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-mobile a {
    font-size: 18pt;
    font-weight: 800;
    color: #111d5e;
  }
}
@media (max-width: 480px) {
  .navbar-mobile a {
    font-size: 18pt;
    font-weight: 800;
    color: #111d5e;
  }
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  background: url('../img/home-banner-img.jpg') repeat scroll center
    center/cover;
  filter: grayscale(25%);
  height: 100vh;
  width: 100%;
}

#hero .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-content h2 {
  color: #fff;
  line-height: 3.5rem;
  font-size: 40pt;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #f37121;
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.hero-content .list-social li {
  float: left;
  margin-right: 20px;
}

.hero-content .list-social li i {
  color: #f37121;
  font-size: 1.5rem;
}
/*hero media queries for tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #hero .hero-content h1,
  h2,
  p {
    text-align: center;
  }
  #hero .hero-content p {
    font-size: 1.5rem;
    font-weight: 800;
  }

  #hero .hero-content .list-social {
    display: flex;
    justify-content: space-around;
  }
  #hero .hero-content .section-button {
    margin: 1.5rem 0 0 8rem;
  }

  #hero .hero-content .section-button a {
    font-weight: 800;
    font-size: 2rem;
  }
}
/*media queries for mobile device*/
@media (max-width: 480px) {
  #hero .hero-content .section-button {
    margin-left: 5rem;
  }
  #hero .hero-content .github-link {
    margin-left: 7.4rem;
  }
}
/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-top: 9rem;
}

#about .div-img-bg {
  padding-bottom: 2.8rem;
  border: 15px solid rgba(243, 113, 33, 0.9);
  border-radius: 8%;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(71, 10, 10, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-size: 28px;
  text-align: left;
  color: #002d5b;
}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
  color: #010114;
}

/*tablet media queries*/
@media (min-width: 768px) and (max-width: 1024px) {
  #about .div-img-bg {
    margin: 1rem 1.6rem 1rem 1.6rem;
    border-radius: 12px;
  }
  #about .div-img-bg .about-img {
    margin-right: 15px;
  }
  #about .about-descr .p-heading {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  #about .about-descr .separator {
    text-align: center;
    margin-left: 1.8rem;
    font-size: 1.5rem;
  }
  #about .about-descr button {
    margin: 2rem 0 0 16rem;
  }
  #about .about-descr button a {
    font-weight: bolder;
  }
}
/*mobile device*/
@media (max-width: 480px) {
  #about .div-img-bg {
    margin: 1rem 1.1rem 1rem 1.1rem;
  }
  #about .div-img-bg .about-img {
    margin: 0 1.4rem 0 0;
  }
  #about .about-descr .separator {
  }
  #about .about-descr .p-heading {
    font-size: 2rem;
  }
  #about .about-descr button {
    margin: 2rem 4.5rem 0 4.5rem;
  }
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  color: #002d5b;
}
#services p {
  color: #010114;
}

#services .service-item {
  border: solid 1px rgba(0, 45, 91, 0.1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out 0s;
  position: relative;
  padding: 3rem;
  height: 550px;
}
#services .service-item:hover {
  background-color: rgba(17, 29, 94, 0.1);
}
#services .service-item .service-img img {
  margin-bottom: 1.4rem;
}
/* media queries for tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #services .service-item {
    height: 650px;
    margin: 0 1.2rem 2.5rem 0;
  }
  #services .service-description p {
    font-size: 1.1rem;
    font-weight: 400;
  }
  #services .service-title h5 {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
/* media queries on mobile device*/
@media (max-width: 480px) {
  #services .service-item {
    margin: 0 2rem 2.5rem 2rem;
    height: 700px;
    font-size: 3rem;
  }
  #services .service-item .service-description p {
    font-size: 1.2rem;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  position: relative;
  background-color: rgba(0, 45, 91, 0.1);
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #002d5b;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #f37121;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  margin-bottom: 1.8rem;
  height: 22rem;
}
#portfolio .portfolio-item img {
  width: 100%;
  height: 100%;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #111d5e;
  font-weight: 600;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #f37121;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.portfolio-details .portfolio-description p {
  color: #010114;
}
#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #f37121;
}

#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #c70039;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}
/*media queries for tablet devices*/
@media (min-width: 768px) and (max-width: 1024px) {
  #portfolio .portfolio-container .portfolio-item {
    height: 20rem;
  }
  #portfolio .portfolio-container .portfolio-item img {
    width: 100%;
    height: 100%;
  }
}
/*media queries on mobile device*/
@media (max-width: 480px) {
  #portfolio .portfolio-container .portfolio-item {
    height: 18rem;
    margin: 0 0 2.5rem 2.2rem;
  }
  #portfolio .portfolio-container .portfolio-item img {
    height: 100%;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  height: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f37121;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #f37121;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
/*media queries for tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .portfolio-details .portfolio-description h2 {
    font-weight: 800;
  }
  .portfolio-details .portfolio-description p {
    font-size: 22px;
  }
  .portfolio-details .portfolio-info h3 {
    font-size: 30px;
    font-weight: bold;
  }
  .portfolio-details .portfolio-info ul {
    font-size: 22px;
  }
}
/*media queries for mobile devices*/
@media (max-width: 480px) {
  .portfolio-details .portfolio-description p {
    font-size: 1.3rem;
  }
  .portfolio-details .portfolio-info ul {
    font-size: 1.3rem;
  }
  .portfolio-details .portfolio-description {
    text-align: center;
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 120px 0 0 0;
  background-color: white;
  min-height: 40px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    padding-top: 100px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: '/';
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
#blogs .blog-item {
  box-shadow: 2px 2px 2px 1px rgba(1, 1, 20, 0.2);
  background-color: rgba(1, 1, 20, 0.9);
  border-radius: 0.4rem;
  height: 600px;
}

#blogs .blog-item .blog-img img {
  width: 100%;
}

#blogs .blog-item h5,
p {
  color: #fff;
}
#blogs .blog-item p {
  padding: 0 1rem 0 1rem;
  font-size: 12pt;
}
#blogs .blog-item h5 {
  padding-top: 1rem;
  font-weight: 700;
}
#blogs .blog-item .blog-info h6 {
  color: #f37121;
}
#blogs .blog-item .blog-info a {
  font-weight: 600;
}

@media (max-width: 991px) {
  #blogs .blog-item {
    height: 700px;
    margin: 0 2.5rem 2.8rem 2.5rem;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #010114;
  padding-top: 90px;
}
#contact h2 {
  color: #ffffff;
}
#contact p {
  color: #ffffff;
  font-size: 14pt;
}

#contact span {
  font-size: 25pt;
  font-weight: 700;
}
/*contact media queries*/
@media (max-width: 480px) {
  #contact span {
    font-size: 1.2rem;
    font-weight: 800;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #010114;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #f37121;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #c70039;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
}
/*footer media queries*/
@media (max-width: 480px) {
  #footer p {
    font-size: 1rem;
    font-weight: 700;
  }
  #footer p span {
    font-size: 1.4rem;
  }
}
